<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠峰课堂</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <link rel="stylesheet" href="../css/zf-index.css" type="text/css">
</head>
<body>
<header>
    <a href="###" class="logo"></a>
    <nav>
        <span class="icon"></span>
        <ul>
            <li><a href="###">Node课程培训</a></li>
            <li><a href="###">HTML培训课程</a></li>
            <li><a href="###">视频课程</a></li>
            <li><a href="###">文档课件</a></li>
        </ul>
    </nav>
</header>
<section class="banner">
    <ul class="clearfix">
        <li><a href="###"><img src="images/banner1_02.jpg" alt=""></a></li>
        <li><a href="###"><img src="images/banner2_02.jpg" alt=""></a></li>
        <li><a href="###"><img src="images/banner3_02.jpg" alt=""></a></li>
        <li><a href="###"><img src="images/banner4_02.jpg" alt=""></a></li>
    </ul>
    <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
</section>
<section class="title">
    <span class="icon"></span>
    <span>全部课程</span>
</section>
<section class="index-list">
    <ul>
        <li>
            <a href="###">
                <img src="../images/banner0.png" alt="">
                <h3>js从入门到放弃</h3>
                <p>￥5000.00</p>
            </a>
        </li>
        <li>
            <a href="###">
                <img src="../images/banner0.png" alt="">
                <h3>js从入门到放弃</h3>
                <p>￥5000.00</p>
            </a>
        </li>
        <li>
            <a href="###">
                <img src="../images/banner0.png" alt="">
                <h3>js从入门到放弃</h3>
                <p>￥5000.00</p>
            </a>
        </li>
        <li>
            <a href="###">
                <img src="../images/banner0.png" alt="">
                <h3>js从入门到放弃</h3>
                <p>￥5000.00</p>
            </a>
        </li>
    </ul>
</section>
<footer>
    <a href="###">
        <span class="icon icon1"></span>
        <span>首页</span>
    </a>
    <a href="###">
        <span class="icon icon2"></span>
        <span>我的课程</span>
    </a>
    <a href="###">
        <span class="icon icon3"></span>
        <span>个人中心</span>
    </a>
</footer>
</body>
</html>