<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <section class="tbar">
        <i class="icon back"></i>
        <span>注册</span>
    </section>
    <section class="region">
        <span class="icon edit"></span>
        <form class="form-group">
            <input type="text" name="" value="" placeholder="姓名（选填">
            <input type="password" name="" value="" placeholder="密码">
            <input type="text" name="" value="" placeholder="手机号">
            <div class="form-inline clearfix">
                <input class="yzm" type="text" name="" value="" placeholder="验证码">
                <input class="yzmpic" type="button" name="" value="发送验证码">
            </div>
            <div class="xy clearfix"><input class="check" type="checkbox"><span>同意《珠峰课堂用户协议》</span></div>
            <a class="btn" href="#">注册</a>
        </form>


    </section>
</body>
</html>